<div class="card">
  <div class="card-header">
    <h2>Produtos</h2>
    <div class="flex justify-content-between align-items-center">
      <div class="p-inputgroup">
        <input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Pesquisar produtos..." 
               (keyup.enter)="searchProducts()">
        <button type="button" pButton icon="pi pi-search" (click)="searchProducts()"></button>
      </div>
      <button pButton icon="pi pi-plus" label="Novo Produto" class="p-button-success" 
              (click)="createProduct()"></button>
    </div>
  </div>

  <p-table [value]="products" [loading]="loading" styleClass="p-datatable-striped" 
           [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} produtos">
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Marca</th>
        <th>Categoria</th>
        <th>Código de Barras</th>
        <th>Código de Identificação</th>
        <th>Local</th>
        <th>Responsável</th>
        <th>Voltagem</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.descricao}}</td>
        <td>{{product.marca}}</td>
        <td>{{product.categoria}}</td>
        <td>{{product.codigoBarras}}</td>
        <td>{{product.codigoIdentificacao}}</td>
        <td>{{product.local}}</td>
        <td>{{product.responsavel}}</td>
        <td>{{product.voltagem}}</td>
        <td>{{product.valor | currency:'BRL'}}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                  (click)="editProduct(product.id)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" 
                  (click)="deleteProduct(product.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10" class="text-center">Nenhum produto encontrado</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
